@model JuanSilva_Examen1P.Models.JS_producto

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>JS_producto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="JS_Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="JsProductoID" />
            <div class="form-group">
                <label asp-for="JsnumeroSerie" class="control-label"></label>
                <input asp-for="JsnumeroSerie" class="form-control" />
                <span asp-validation-for="JsnumeroSerie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Jsprecio" class="control-label"></label>
                <input asp-for="Jsprecio" class="form-control" />
                <span asp-validation-for="Jsprecio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JsNombreProducto" class="control-label"></label>
                <input asp-for="JsNombreProducto" class="form-control" />
                <span asp-validation-for="JsNombreProducto" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="JsDisponible" /> @Html.DisplayNameFor(model => model.JsDisponible)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="JsFechaAgregado" class="control-label"></label>
                <input asp-for="JsFechaAgregado" class="form-control" />
                <span asp-validation-for="JsFechaAgregado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="JS_Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
